@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(199, 199, 199);
    margin: auto;
}

button {
    background-color: rgb(241, 214, 214);
    color: rgb(255, 159, 68);
    font-size: 16pt;
    font-weight: 600;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    height: auto;
    border-radius: 10%;
}